body{
    width:380px;
}

table{
    width:360px;
}

table,th,td{
    border-collapse: collapse;
    min-width: 60px;
    border-bottom: 1px solid;
    text-align: center;
}

td[data-action=open]{
    cursor:pointer;
}

#add{
	display: inline-block;
	margin-left: 10px;
}

.add{
    margin-top: 10px;
}

#suggest{
    display: block;
}

#suggest li:hover{
	background: #ccc;
}

#notice{
    margin-left:20px;
    color: #CCC;
}

ul{
	padding-left: 5px;
}

ul li{
    list-style: none;
	line-height:20px;
	color: #666;
	width: 240px;
}


a{
    text-decoration: none;
    color:inherit;
}
